@* Views/Home/_DesignLabDash.cshtml *@
<div class="text-center mt-5">
    <h1 class="fw-bold">Welcome, Design Lab</h1>
    <hr />
    <h2 class="text-primary mt-4 mb-4">Design Lab Workspace</h2>

    <div class="d-grid gap-3 col-8 mx-auto">
        <a href="/Inventory/Index" class="btn btn-primary btn-lg shadow">Update Inventory</a>
        <a href="/Article/Index" class="btn btn-primary btn-lg shadow">Update Articles</a>
        <a href="/Dashboard/Index" class="btn btn-primary btn-lg shadow">Update DashBoard</a>
        <a href="/Bom/Index" class="btn btn-primary btn-lg shadow">Update BOM</a>
        <a href="/SampleOrder/Index" class="btn btn-primary btn-lg shadow w-100 mb-3">Manage Sample Orders</a>
    </div>
</div>