<div class="row">
    <h2 class="text-primary">Design Lab Workspace</h2>
    <a href="/Inventory/Index" class="btn btn-primary m-2">Update Inventory</a>
    <a href="/Article/Index" class="btn btn-success m-2">Update Articles</a>
</div>