<div class="row">
    <h2 class="text-info">International Business (IB) View</h2>
    <p>View-Only Access</p>
    <a href="/Inventory/Index" class="btn btn-outline-info m-2">View Inventory Reports</a>
    <a href="/Bom/Index" class="btn btn-outline-info m-2">View BOM</a>
    <a href="/Article/Index" class="btn btn-outline-info m-2">View Articles</a>
    <a href="/Dashboard/Index" class="btn btn-outline-info m-2">View DashBoard</a>
    <a href="/SampleOrder/Index" class="btn btn-outline-info m-2">View Samples</a>

</div>