<div class="row">
    <h2 class="text-danger">Super Admin Console</h2>
    <a href="/Inventory/Index" class="btn btn-primary m-2">Manage Inventory</a>
    <a href="/Article/Index" class="btn btn-success m-2">Manage Articles</a>
    <a href="/Account/Register" class="btn btn-warning m-2">Manage Users</a>
</div>