html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/bg4.png');
    /* This centers the image */
    background-position: center;
    /* This prevents the image from repeating */
    background-repeat: no-repeat;
    /* CRITICAL: This stretches the image to cover the entire screen */
    background-size: cover;
    /* This keeps the background fixed while you scroll the content */
    background-attachment: fixed;
    /* Ensures the body takes up at least the full height of the browser */
    min-height: 100vh;
}